* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
      url('/images/bg.png'); 
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: antiquewhite;
    height: auto;
    width: auto;
    opacity: 55%;
    transition: 0.5s;
}

header:hover {
    opacity: 100%;
    box-shadow: 0px 0px 10px 1px black;
}

header .header-contents {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

header .header-contents .icon {
    display: none;
    text-decoration: none;
}

header nav {
    /* border: 1px solid black; */
    align-self: center;
    margin-left: auto;
}

a {
    font-size: 25px;
    padding: 0rem 3rem;
    text-decoration: none;
    color: black;
    transition: 0.5s;
    height: auto;
    width: auto;
    /* transition: 2s; */
}

#img-a {
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: underline;
}

header img {
    max-width: 200px;
    max-height: 200px;
    clear: left;
}

/* BODY HERE */

body .nav .navigate {
    display: none;
}

body .nav {
    display: none;
    /* border: 1px solid white; */
    z-index: 99;
    width: 10rem;
}

body .map-wrapper {
    /* border: 1px solid black; */
    width: auto;
    height: auto;
    padding: 3.5rem;
}

body #map {
    margin-top: 1rem;
    height: 500px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -1px black;
}

body .title-location-page {
    margin-top: 5rem;
    color: orange;
    font-size: 50px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

/* css marker for map */
.marker {
    background-image: url('/images/pizza\ icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    /* border-radius: 10%; */
    cursor: pointer;
}

footer {
    padding: 3rem 2rem;
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px 1px black;
    height: auto;
}

footer .footer-text {
    display: flex;
    /* border: 1px solid blue; */
    padding: 2rem 0rem;
}

footer .footer-text h4 {
    color: gray;
}

footer .footer-text .logo-flag {
    /* border: 1px solid black; */
    margin-left: auto;
}

footer .footer-text img {
    padding-right: 2rem;
    max-width: 100px;
    max-height: 100px;
}


footer .links {
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    padding: 1rem;
}

footer .links nav #footer-menu-link, footer .links nav #footer-location-link, footer .links nav #footer-order-link  {
    font-size: 18px;
    text-decoration: none;
    padding: 1rem;
}

footer .all-rights {
    text-align: center;
}

/* MEDIA QUERY */ 

@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.4), 
            rgba(0, 0, 0, 0.4)
          ),
          url('/images/bg.png'); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    header {
        text-align: center;
        padding: 1.5rem;
        background-color: antiquewhite;
        height: auto;
        width: auto;
        opacity: 100%;
    }

    header .header-contents {
        display: flex;
        justify-content: center;
        /* border: 1px solid black; */
        width: 100%;
    }

    header .header-contents .icon {
        display: block;
        font-size: 30px;
    } 

    header nav {
        /* border: 1px solid green; */
        align-self: center;
        margin-left: auto;
    }

    a {
        display: none;
        font-size: 25px;
        padding: 0rem 3rem;
        text-decoration: none;
        color: black;
        height: auto;
        width: auto;
    }

    header img {
        max-width: 125px;
        max-height: 110px;
        clear: left;
        border-radius: 10px;
    }

    #img-a {
        display: inline;
        padding: 0;
        margin: 0;
    } 

    body .nav .navigate {
        display: block;
        font-size: 16px;
    }

    body .nav {
        visibility: hidden;
        display: flex;
        justify-content: center;
        /* border-top: 1.5px solid black; */
        z-index: 1;
        width: auto;
        background-color: antiquewhite;
        box-shadow: 0px 10px 10px -1px black;
    }   
    
    body .nav nav {
        display: flex;
        padding-bottom: 1rem;
        /* border: 1px solid black; */
    }

    body .map-wrapper {
        /* border: 1px solid black; */
        width: auto;
        height: auto;
        padding: 3.5rem 1.5rem;
    }

    footer .links nav {
        height: auto;
        width: auto;
        overflow-y: hidden;
    }

    footer .links nav #footer-menu-link, footer .links nav #footer-location-link, footer .links nav #footer-order-link {
        display: inline;
        font-size: 15px;
        text-decoration: none;
        padding: 1rem;
    }
}