* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
      url('/images/bg.png'); 
    background-repeat: no-repeat;
    background-size: cover;
}

/* START OF HEADER */

header {
    /* position: fixed; */
    text-align: center;
    padding: 2rem;
    background-color: antiquewhite;
    height: auto;
    width: auto;
    opacity: 55%;
    transition: 0.5s;
    /* margin-top: 0;
    top: 0; */
}

header:hover {
    opacity: 100%;
    box-shadow: 0px 0px 10px 1px black;
}

header .header-contents {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

header .header-contents .icon {
    display: none;
    text-decoration: none;
}

header nav {
    /* border: 1px solid black; */
    /* position: fixed; */
    align-self: center;
    margin-left: auto;
}

a {
    font-size: 25px;
    padding: 0rem 3rem;
    text-decoration: none;
    color: black;
    transition: 0.5s;
    height: auto;
    width: auto;
    /* transition: 2s; */
}

#img-a {
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: underline;
}

header img {
    max-width: 200px;
    max-height: 200px;
    clear: left;
}

/* END OF HEADER */

body .nav .navigate {
    display: none;
}

body .nav {
    display: none;
    /* border: 1px solid white; */
    z-index: 99;
    width: 10rem;
}

body .order-title {
    text-align: center;
    margin-top: 5rem;
    color: orange;
    font-size: 50px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

body .form-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    padding-top: 3rem;
    padding-bottom: 8rem;
    margin-top: 3.5rem;
    /* background-color: antiquewhite; */
    /* transition: 0.5s; */
    /* box-shadow: 0px 0px 10px 1px black; */
}

body .form-order .form-inputs {
    margin-bottom: 1rem;
}

body .form-order .form-inputs label {
    display: inline-block;
    width: 110px;
    color: orange; 
    font-weight: bold;
    font-size: 22px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

body .form-order label {
    color: orange; 
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    font-size: 22px;
    font-weight: bold;
}

body .form-order input {
    height: 30px;
    width: auto;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.25s;
}

body .form-order input:hover {
    background-color: lightyellow;
}

body .form-order .type-of-pizza {
    /* border: 1px solid black; */
    display: inline-block;
    align-self: center;
}

body .form-order .type-of-pizza input, body .form-order .size-of-pizza input {
    /* border: 1px solid black; */
    height: 18px;
    width: 18px;
}

body .form-order .size-of-pizza {
    /* border: 1px solid black; */
    display: inline-block;
    align-self: center;
}

body .form-order .type-of-pizza label {
    padding: 0 10px;
}

body .form-order .size-of-pizza label {
    padding: 0 10px;
}

body .form-order .submit-button {
    background-color:rgb(220, 187, 3);
    margin-top: 1.5rem;
    border: none;
    height: 2.5rem;
    width: 10rem;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.25s;
}

body .form-order .submit-button:hover {
    cursor: pointer;
    background-color: gold;
}

body .form-order .order-again-button {
    background-color: rgb(220, 187, 3);
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border: none;
    height: 2.5rem;
    width: 10rem;
    border-radius: 10px;
    font-size: 18px;
    visibility: hidden;
    transition: 0.25s;
}

body .form-order .order-again-button:hover {
    cursor: pointer;
    background-color: gold;
}

body .form-order #order-text {
    color: antiquewhite;
    margin-top: 1rem;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

footer {
    padding: 3rem 2rem;
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px 1px black;
    height: auto;
}

footer .footer-text {
    display: flex;
    /* border: 1px solid blue; */
    padding: 2rem 0rem;
}

footer .footer-text h4 {
    color: gray;
}

footer .footer-text .logo-flag {
    /* border: 1px solid black; */
    margin-left: auto;
}

footer .footer-text img {
    padding-right: 2rem;
    max-width: 100px;
    max-height: 100px;
}


footer .links {
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    padding: 1rem;
}

footer .links nav #footer-menu-link, footer .links nav #footer-location-link, footer .links nav #footer-order-link  {
    font-size: 18px;
    text-decoration: none;
    padding: 1rem;
}

footer .all-rights {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.4), 
            rgba(0, 0, 0, 0.4)
          ),
          url('/images/bg.png'); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    header {
        text-align: center;
        padding: 1.5rem;
        background-color: antiquewhite;
        height: auto;
        width: auto;
        opacity: 100%;
    }

    header .header-contents {
        display: flex;
        justify-content: center;
        /* border: 1px solid black; */
        width: 100%;
    }

    header .header-contents .icon {
        display: block;
        font-size: 30px;
    }  

    header nav {
        /* border: 1px solid green; */
        align-self: center;
        margin-left: auto;
    }

    a {
        display: none;
    }

    #img-a {
        display: inline;
        padding: 0;
        margin: 0;
    }

    header img {
        max-width: 125px;
        max-height: 110px;
        clear: left;
        border-radius: 10px;
    }

    body .nav .navigate {
        display: block;
        font-size: 16px;
    }

    body .nav {
        visibility: hidden;
        display: flex;
        justify-content: center;
        /* border-top: 1.5px solid black; */
        z-index: 1;
        width: auto;
        background-color: antiquewhite;
        box-shadow: 0px 10px 10px -1px black;
    } 

    body .nav nav {
        display: flex;
        padding-bottom: 1rem;
        /* border: 1px solid black; */
    }

    body .form-order .form-inputs {
        padding: 0 2rem;
        align-items: center;
        justify-content: center;
        /* border: 1px solid green; */
        text-align: center;
    }

    footer .links nav {
        height: auto;
        width: auto;
        overflow-y: hidden;
    }

    footer .links nav #footer-menu-link, footer .links nav #footer-location-link, footer .links nav #footer-order-link {
        display: inline;
        font-size: 13px;
        text-decoration: none;
        padding: 1rem;
    }
}